<section class="login-section">
  <div class="login-section__form">
    <div class="login-section__head">
      <h2>Login</h2>
      <p class="text-white-50 mb-5">Enter your email address and password.</p>
    </div>

    <form #loginForm="ngForm">
      <div class="login-section__form--field">
        <input id="username" name="username" type="email" class="form-control form-control-input" [(ngModel)]="loginFormModel.username" required>
        <label for="username">Email</label>
      </div>
  
      <div class="login-section__form--field">
        <input id="password" name="password" type="password" class="form-control form-control-input" [(ngModel)]="loginFormModel.password" required>
        <label for="password">Password</label>
      </div>
  
      <p><a href="#">Forgot password?</a></p>

      <button [disabled]="!loginForm.valid" class="btn btn-outline-light btn-lg px-5" *ngIf="!authService.isLoggedIn" (click)="login(loginForm)">Log In</button>
      <button class="btn btn-outline-light btn-lg px-5" *ngIf="authService.isLoggedIn" (click)="logout()">Log Out</button>
    </form>
    
  </div>
</section>
