<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Country</th>
      <th>Physics</th>
      <th>Chemistry</th>
      <th>Maths</th>
      <th>Computer</th>
    </tr>
  </thead>
  <tbody>
    @for (student of students; track student.name; let i = $index) {
      <tr>
        <th>{{i+1}}</th>
        <th>{{student.name}}</th>
        <th>{{student.country}}</th>
        <th>{{student.physics}}</th>
        <th>{{student.chemistry}}</th>
        <th>{{student.maths}}</th>
        <th>{{student.computer}}</th>
      </tr>
    } @empty {
      <tr>
        <p>No records! Add one.</p>
      </tr>
    }
    
  </tbody>
</table>
